/* Navbar flex */

@media (min-width: 308px) and (max-width: 450px) {

	.nav ul {

		display: flex;
	}

	.nav li {

		flex-basis: auto;
  		flex-grow: 1;
	}

	.dropdown-content {

		width: 31%;
	}
}

/* End */


/* Footer display: none*/

@media only screen and (max-height : 240px) {
	footer {
		display: none;
	}
}

/* End */


/* Navbar adaptive */

@media (min-width: 308px) and (max-width: 314px) {
	.nav a {
    	padding: 13px 10px;
  }
}

@media (min-width: 314px) and (max-width: 322px) {
	.nav a {
    	padding: 13px 11px;
  }
}

@media (min-width: 322px) and (max-width: 330px) {
	.nav a {
    	padding: 13px 12px;
  }
}

@media (min-width: 330px) and (max-width: 338px) {
	.nav a {
    	padding: 13px 13px;
	}
  }

@media (min-width: 338px) and (max-width: 346px) {
	.nav a {
    	padding: 13px 14px;
  }
}

@media (min-width: 346px) and (max-width: 354px) {
	.nav a {
    	padding: 13px 15px;
  }
}

@media (min-width: 354px) and (max-width: 362px) {
	.nav a {
    	padding: 13px 16px;
  }
}

@media (min-width: 362px) and (max-width: 370px) {
	.nav a {
    	padding: 13px 17px;
  }
}

@media (min-width: 370px) and (max-width: 380px) {
	.nav a {
    	padding: 13px 18px;
  }
}

@media (min-width: 380px) and (max-width: 386px) {
	.nav a {
    	padding: 13px 19px;
  }
}

@media (min-width: 386px) and (max-width: 394px) {
	.nav a {
    	padding: 13px 20px;
  }
}

@media (min-width: 394px) and (max-width: 402px) {
	.nav a {
    	padding: 13px 21px;
  }
}

@media (min-width: 402px) and (max-width: 410px) {
	.nav a {
    	padding: 13px 22px;
  }
}

@media (min-width: 410px) and (max-width: 418px) {
	.nav a {
    	padding: 13px 23px;
  }
}

@media (min-width: 418px) and (max-width: 426px) {
	.nav a {
    	padding: 13px 24px;
  }
}

@media (min-width: 426px) and (max-width: 434px) {
	.nav a {
    	padding: 13px 25px;
  }
}

@media (min-width: 434px) and (max-width: 442px) {
	.nav a {
    	padding: 13px 26px;
  }
}

@media (min-width: 442px) and (max-width: 450px) {
	.nav a {
    	padding: 13px 27px;
  }
}

/* End */


/* About.html blocks */

@media only screen and (max-width: 560px) {
	#info {
		width: 96%;
	}

}

@media only screen and (max-width: 450px) {

	.about {
		margin: 3% 0 4% 2%;
	}

	.links, .contacts {
		margin: 1% 0% 4% 2%;
	}
}

@media (min-width: 560px) and (max-width: 600px) {
	#info {
		width: 94%;
	}

}

@media (min-width: 600px) and (max-width: 640px) {
	#info {
		width: 90%;
	}

}

@media (min-width: 640px) and (max-width: 700px) {
	#info {
		width: 84%;
	}

}

@media (min-width: 700px) and (max-width: 780px) {
	#info  {
		width: 76%;
	}

}

@media (min-width: 780px) and (max-width: 880px) {
	#info {
		width: 68%;
	}

}

@media (min-width: 880px) and (max-width: 960px) {
	#info {
		width: 62%;
	}

}

@media (min-width: 960px) and (max-width: 1040px) {
	#info {
		width: 56%;
	}

}

@media (min-width: 1040px) and (max-width: 1100px) {
	#info {
		width: 52%;
	}

}

@media (min-width: 1100px) and (max-width: 1160px) {
	#info {
		width: 50%;
	}

}

@media (min-width: 1160px) and (max-width: 1260px) {
	#info {
		width: 46%;
	}

}

@media (min-width: 1260px) and (max-width: 1330px) {
	#info {
		width: 42%;
	}

}

/* End */

