@media (min-width: 308px) and (max-width: 450px) {

	.nav ul {

		display: flex;
	}

	.nav li {

		flex-basis: auto;
  		flex-grow: 1;
	}
}

@media only screen and (max-height : 240px) {
	footer {
		display: none;
	}
}

@media (min-width: 308px) and (max-width: 314px) {
	.nav a {
    	padding: 13px 10px;
  }
}

@media (min-width: 314px) and (max-width: 322px) {
	.nav a {
    	padding: 13px 11px;
  }
}

@media (min-width: 322px) and (max-width: 330px) {
	.nav a {
    	padding: 13px 12px;
  }
}

@media (min-width: 330px) and (max-width: 338px) {
	.nav a {
    	padding: 13px 13px;
	}
  }

@media (min-width: 338px) and (max-width: 346px) {
	.nav a {
    	padding: 13px 14px;
  }
}

@media (min-width: 346px) and (max-width: 354px) {
	.nav a {
    	padding: 13px 15px;
  }
}

@media (min-width: 354px) and (max-width: 362px) {
	.nav a {
    	padding: 13px 16px;
  }
}

@media (min-width: 362px) and (max-width: 370px) {
	.nav a {
    	padding: 13px 17px;
  }
}

@media (min-width: 370px) and (max-width: 380px) {
	.nav a {
    	padding: 13px 18px;
  }
}

@media (min-width: 380px) and (max-width: 386px) {
	.nav a {
    	padding: 13px 19px;
  }
}

@media (min-width: 386px) and (max-width: 394px) {
	.nav a {
    	padding: 13px 20px;
  }
}

@media (min-width: 394px) and (max-width: 402px) {
	.nav a {
    	padding: 13px 21px;
  }
}

@media (min-width: 402px) and (max-width: 410px) {
	.nav a {
    	padding: 13px 22px;
  }
}

@media (min-width: 410px) and (max-width: 418px) {
	.nav a {
    	padding: 13px 23px;
  }
}

@media (min-width: 418px) and (max-width: 426px) {
	.nav a {
    	padding: 13px 24px;
  }
}

@media (min-width: 426px) and (max-width: 434px) {
	.nav a {
    	padding: 13px 25px;
  }
}

@media (min-width: 434px) and (max-width: 442px) {
	.nav a {
    	padding: 13px 26px;
  }
}

@media (min-width: 442px) and (max-width: 450px) {
	.nav a {
    	padding: 13px 27px;
  }
}