html, body, .container {

	min-height: 100vh;
}

main {

	display: inline-block;
	width: 100%;
	min-height: 80%;
}

main p {

	margin: 0 2% 0 2%;
	padding-bottom: 2%;
}

.content {

	display: flex;
	flex-direction: column;
}

#info {

	border-width: 1px;
	border-style: solid;
	border-color: palevioletred;
	box-shadow: 2px 6px 10px palevioletred;
	width: 40%;
	height: 30%;
	margin: 1% 0% 1% 2%;
	background-color: white;
}

#info h3 {

	padding: 2% 0 0 2%;
}


.links ul {

	padding: 0 0 0 3%;
	list-style-type: none;
}

.contacts ul {

	padding: 0 0 0 6%;
	list-style-type: square;
}





