main {

	display: inline-block;
	width: 100%;
	min-height: 120vh;
}

main p {

	margin: 0 2% 0 2%;
	padding-bottom: 2%;
}

.contacts ul {

	padding: 0 0 0 2%;
}

.contacts h3 {

	padding: 2% 0 0 2%;
}

.contacts ul {

	list-style-type: square;
}





