main {

	display: inline-block;
	width: 100%;
	min-height: 80%;
}

main p {

	margin: 0 2% 0 2%;
	padding-bottom: 2%;
}

main h2,h3,h4 {

	margin: 0 2% 2% 2%;
	padding-top: 2%;
}

.article_tree {

	position: -webkit-sticky;
    position: sticky;
	top: 10%; 
	text-align: center;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	box-shadow: 2px 6px 10px black;
	float: right;
	width: 20%;
	height: 80vh;
	background-color: white;
	margin: 2% 2% 4% 0;
	z-index: -1;
}

.article {

	text-align: left;
	margin: 2% 20% 4% 10%;
	background-color: white;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	box-shadow: 2px 6px 10px black;
	width: 64%;
	height: auto;
}

@media (min-width: 308px) and (max-width: 760px) {
    .article_tree {
        display: none;
    }
    .article  {
        width: 96%;
        margin: 2% 2% 4% 2%;
    }
}

@media (min-width: 760px) and (max-width: 860px) {
	.article_tree  {
    	width: 27%;
  	}
  	.article  {
    	margin: 2% 2% 4% 2%;
    }
}

@media (min-width: 860px) and (max-width: 980px) {
	.article_tree  {
    	width: 26%;
  	}
  	.article  {
    	margin: 2% 2% 4% 2%;
    }
}

@media (min-width: 980px) and (max-width: 1100px) {
	.article_tree  {
    	width: 25%;
  	}
  	.article  {
    	margin: 2% 2% 4% 2%;
    }
}


@media (min-width: 1100px) and (max-width: 1220px) {
	.article_tree  {
    	width: 22%;
	}
	.article  {
    	margin: 2% 2% 4% 6%;
    }
}