main {

	display: inline-block;
	width: 100%;
	min-height: 80%;
}

main p {

	margin: 0 2% 0 2%;
	padding-bottom: 2%;
}

main h2 {

	margin: 0 2% 2% 2%;
	padding-top: 2%;
	color: red;
}

.article_tree {

	position: -webkit-sticky;
    position: sticky;
	top: 10%; 
	text-align: center;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	box-shadow: 2px 6px 10px black;
	float: right;
	width: 20%;
	height: 80vh;
	background-color: white;
	margin: 2% 6% 4% 0;
	z-index: -1;
}

#article {

	text-align: left;
	margin: 2% 0 4% 2%;
	background-color: white;
	width: 60%;
	height: 100%;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	box-shadow: 2px 6px 10px black;
}

#article img {

	width: 100%;	
}

@media (min-width: 0px) and (max-width: 740px) {
	.article_tree {
		display: none;
	}
	#article  {
    	width: 96%;
    }
}


@media (min-width: 740px) and (max-width: 840px) {
	.article_tree  {
    	width: 30%;
    	margin: 2% 2% 4% 0;
    }
    #article  {
    	width: 62%;
    }
}

@media (min-width: 840px) and (max-width: 920px) {
	.article_tree  {
    	width: 28%;
    	margin: 2% 2% 4% 0;
    }
    #article  {
    	width: 64%;
    }
}

@media (min-width: 920px) and (max-width: 1000px) {
	.article_tree  {
    	width: 26%;
    	margin: 2% 2% 4% 0;
    }
    #article  {
    	width: 64%;
    }
}

@media (min-width: 1000px) and (max-width: 1100px) {
	.article_tree  {
    	width: 23%;
    	margin: 2% 2% 4% 0;
    }
    #article  {
    	width: 64%;
    }
}


@media (min-width: 1100px) and (max-width: 1260px) {
	.article_tree  {
    	width: 22%;
    	margin: 2% 2% 4% 0;
    }
    #article  {
    	width: 64%;
    }
}







