body {

	font-size: 1rem;
	line-height: 1.5rem;
	font-family: 'Roboto', sans-serif; 
	background-color: #c79fef;
    -webkit-text-size-adjust: none;
	-webkit-overflow-scrolling: touch;  
	-webkit-appearance: none;
}

header {

	width: 100%;
	height: 12vh;
	background-color: #000;
	border-bottom-color: #c79fef;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	position: relative;
	z-index: 99999;
}

header h2 {

	color: #fff;
	padding: 4vh 0 4vh 4vh;
}

.container {

	width: 100%;
    height: auto;
    -webkit-text-size-adjust: none;
    -webkit-overflow-scrolling: touch;
    -webkit-appearance: none;
}

.nav {
	
	top: 0;
	width: 100%;
	height: 8%;
	transition: all .4s ease; 
	position: sticky;
	position: -webkit-sticky;

}

.nav_hidden {

	transform: translateY(-300%);
}

.nav ul {

    list-style-type: none;
    overflow: hidden;
    background-color: #000;

}

.nav li {
	
    float: left;
}

.nav a {

    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 13px 17px;
    text-decoration: none;
    z-index: 1;
}

.nav li a:hover:not(.active) 
{
    background-color: #111;
}

.nav .active 
{
    background-color: #4CAF50;
}

footer {

	background-color: #000;
	text-align: center;
	width: 100%;
	min-height: 12%;
}

footer p {

	text-align: left;
	padding: 2vh 2vh;
	color: #bdcdd6;
}

.clear {

     clear: both;
}

* {
	
	margin: 0;
	padding: 0;
}

@media (min-width: 308px) and (max-width: 314px) {
	.nav a {
    	padding: 13px 11px;
  }
}

@media (min-width: 314px) and (max-width: 320px) {
	.nav a {
    	padding: 13px 12px;
  }
}

@media (min-width: 320px) and (max-width: 324px) {
	.nav a {
    	padding: 13px 12px;
  }
}

@media (min-width: 324px) and (max-width: 332px) {
	.nav a {
    	padding: 13px 13px;
  }
}

@media (min-width: 332px) and (max-width: 340px) {
	.nav a {
    	padding: 13px 14px;
  }
}

@media (min-width: 340px) and (max-width: 348px) {
	.nav a {
    	padding: 13px 15px;
  }
}

@media (min-width: 348px) and (max-width: 356px) {
	.nav a {
    	padding: 13px 16px;
  }
}

@media (min-width: 356px) and (max-width: 364px) {
	.nav a {
    	padding: 13px 17px;
  }
}

@media (min-width: 364px) and (max-width: 372px) {
	.nav a {
    	padding: 13px 18px;
  }
}

@media (min-width: 372px) and (max-width: 380px) {
	.nav a {
    	padding: 13px 19px;
  }
}

@media (min-width: 380px) and (max-width: 388px) {
	.nav a {
    	padding: 13px 20px;
  }
}

@media (min-width: 388px) and (max-width: 396px) {
	.nav a {
    	padding: 13px 21px;
  }
}

@media (min-width: 396px) and (max-width: 404px) {
	.nav a {
    	padding: 13px 22px;
  }
}

@media (min-width: 404px) and (max-width: 412px) {
	.nav a {
    	padding: 13px 23px;
  }
}

@media (min-width: 412px) and (max-width: 420px) {
	.nav a {
    	padding: 13px 24px;
  }
}

@media (min-width: 420px) and (max-width: 428px) {
	.nav a {
    	padding: 13px 25px;
  }
}

@media (min-width: 428px) and (max-width: 436px) {
	.nav a {
    	padding: 13px 26px;
  }
}

@media (min-width: 436px) and (max-width: 450px) {
	.nav a {
    	padding: 13px 27px;
  }
}

@media only screen and (max-height : 240px) {
	footer {
		display: none;
	}
}