body {

	height: auto;
}

main {

	display: block;
	width: 100%;
	min-height: 80%;
}

main p {

	margin-top: 1rem;
	text-align: center;
}

.content {

	margin-top: 2%;
	display: flex;
	display: -webkit-flex; 
	flex-wrap: wrap;
  	justify-content: space-around;
}

.maintenance, .realization {

	margin: 2% 0 2% 0;
}

#main_cont {

	width: 48%;
	height: 60vh;
	border-color: #9651b5;
	border-style: solid;
	border-width: 1px;
	box-shadow: 2px 6px 10px #9a12cc;
}

@media (max-width: 860px) {

	.content {

		flex-flow: column nowrap;
		align-items: center;
	}

	#main_cont {

		width: 96%;
		margin: 2% 0 2% 0;
	}
}
